/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    --line-height: calc(2ex + 6px);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* own styles */

:root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

html {
    color: #555;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
}

body {
    line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;
    /* Optional, not supported for all languages */
    hyphens: auto;
}

h1 {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    letter-spacing: 1.2;
}
@media screen and (min-width: 500px) {
    h1 {
        font-size: var(--font-size-xl);
    }
}
h2 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    letter-spacing: 1.2;
}
@media screen and (min-width: 500px) {
    h2 {
        font-size: var(--font-size-lg);
    }
}

p {
    margin-top: 1.2em;
}

@media screen and (min-width: 320px) {
    html {
        font-size: var(--font-size-base);
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: var(--font-size-base);
    }
}

section {
    margin-top: 40px;
    margin-bottom: 40px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    padding: 0 2rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.code, code {
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}
.code {
    padding: 1.5em 1em;
}
.code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
}

.code > code {
    background: none;
    padding: 0;
    font-size: 100%;
    color: inherit;
}

